@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f8f9fa;
	margin: 0 auto;
}

nav {
	background-color: white;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
	padding: 0 96px;
	height: 64px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	width: 48px;
	height: 48px;
}

.btn {
	display: flex;
	gap: 8px;
}

#Reset,
#Start {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 4px 16px;
	border: none;
	border-radius: 10px;
	background-color: #ced4da;
}

#Reset:hover {
	background-color: #e01e37;
	color: white;

	cursor: pointer;
}

#Start:hover {
	background-color: #208b3a;
	color: white;

	cursor: pointer;
}

#elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 96px;
}

p {
	font-size: 24px;
}

.items {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 64px;

	margin: 96px 0 0 0;
}

.board {
	width: 422px;
	height: 422px;
	background-color: #dee2e6;
	border: none;
	border-radius: 16px;
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 9px;
}

.board div {
	background-color: #343a40;
	color: white;
	font-size: 32px;
	font-weight: 800;

	border: none;
	border-radius: 6px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.displayScore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

#score,
#bestScore {
	width: 190px;
	height: 190px;
	background-color: #dee2e6;
	border: none;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#score h3,
#bestScore h3 {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

#score h3 {
	color: #2b9348;
}

#bestScore h3 {
	color: #ff6d00;
}

#score h2,
#bestScore h2 {
	color: #343a40;
	font-size: 42px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

#controls {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#up {
	margin-bottom: 6px;
}

.horizontal-controls {
	display: flex;
	gap: 6px;
}

#up,
#down,
#left,
#right {
	width: 50px;
	height: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background-color: #ced4da;
}

#up:hover,
#down:hover,
#left:hover,
#right:hover {
	cursor: pointer;
	background-color: #343a40;
	color: white;
}

@media (max-width: 768px) {
	nav {
		padding: 0 20px;
		height: 64px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#elements {
		margin: 0px;
		padding-top: 20px;
	}

	p {
		/* display: none; */
		font-size: medium;
	}

	.items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;

		margin: 20px 0 0 0;
	}

	.displayScore {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 9px;
	}

	#score,
	#bestScore {
		width: 120px;
		height: 120px;
		background-color: #dee2e6;
		border: none;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#score h3,
	#bestScore h3 {
		font-size: 16px;
	}

	#score h2,
	#bestScore h2 {
		font-size: 24px;
	}

	.board {
		width: 300px;
		height: 300px;
	}

	.board div {
		font-size: 32px;
	}

	#up,
	#down,
	#left,
	#right {
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		color: #343a40;
	}

	#up:hover,
	#down:hover,
	#left:hover,
	#right:hover {
		background-color: #343a40;
		color: white;
	}

	#Reset,
	#Start {
		font-family: 'Poppins', sans-serif;
		color: #343a40;
	}
}
